.navbar{
    background-color: #8E7CC3;
    border: solid black;
    height: 250px;
    margin-bottom: 20px;

}
#chase{
    display: flex;
    float: left;
    margin: 20px;
    width: 30%;
    height: 700px;
}
.section1{
    background-color: #E06666;
    border: solid black;
}
.section2{
    background-color: #93C47D;
    border: solid black;
    
}
.section3{
    background-color: #FF9900;
    border: solid black;
    
}
